In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/buset/OneDrive/Desktop/Train_data02.csv')

In [3]:
df.head()

,protocol_type,service,flag,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,class
0,tcp,ftp_data,SF,491,0,2,1.00,0.00,25,0.17,normal
1,udp,other,SF,146,0,13,0.08,0.15,1,0.00,normal
2,tcp,private,S0,0,0,123,0.05,0.07,26,0.10,anomaly
3,tcp,http,SF,232,8153,5,1.00,0.00,255,1.00,normal
4,tcp,http,SF,199,420,30,1.00,0.00,255,1.00,normal

In [4]:
    df['protocol_type'].value_counts()

protocol_type
tcp     20526
udp      3011
icmp     1655
Name: count, dtype: int64

In [5]:
df['service'].value_counts()

df['service'].nunique()

df['flag'].value_counts()

flag
SF        14973
S0         7009
REJ        2216
RSTR        497
RSTO        304
S1           88
SH           43
RSTOS0       21
S2           21
S3           15
OTH           5
Name: count, dtype: int64

In [6]:
pd.get_dummies(df,columns=['protocol_type'])

,service,flag,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,class,protocol_type_icmp,protocol_type_tcp,protocol_type_udp
0,ftp_data,SF,491,0,2,1.00,0.00,25,0.17,normal,False,True,False
1,other,SF,146,0,13,0.08,0.15,1,0.00,normal,False,False,True
2,private,S0,0,0,123,0.05,0.07,26,0.10,anomaly,False,True,False
3,http,SF,232,8153,5,1.00,0.00,255,1.00,normal,False,True,False
4,http,SF,199,420,30,1.00,0.00,255,1.00,normal,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25187,exec,RSTO,0,0,100,0.07,0.07,7,0.03,anomaly,False,True,False
25188,ftp_data,SF,334,0,1,1.00,0.00,39,1.00,anomaly,False,True,False
25189,private,REJ,0,0,105,0.07,0.07,13,0.05,anomaly,False,True,False
25190,nnsp,S0,0,0,129,0.14,0.06,20,0.08,anomaly,False,True,False
25191,finger,S0,0,0,38,0.24,0.11,49,0.19,anomaly,False,True,False

In [7]:
pd.get_dummies(df,columns=['protocol_type'],drop_first=True)

,service,flag,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,class,protocol_type_tcp,protocol_type_udp
0,ftp_data,SF,491,0,2,1.00,0.00,25,0.17,normal,True,False
1,other,SF,146,0,13,0.08,0.15,1,0.00,normal,False,True
2,private,S0,0,0,123,0.05,0.07,26,0.10,anomaly,True,False
3,http,SF,232,8153,5,1.00,0.00,255,1.00,normal,True,False
4,http,SF,199,420,30,1.00,0.00,255,1.00,normal,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
25187,exec,RSTO,0,0,100,0.07,0.07,7,0.03,anomaly,True,False
25188,ftp_data,SF,334,0,1,1.00,0.00,39,1.00,anomaly,True,False
25189,private,REJ,0,0,105,0.07,0.07,13,0.05,anomaly,True,False
25190,nnsp,S0,0,0,129,0.14,0.06,20,0.08,anomaly,True,False
25191,finger,S0,0,0,38,0.24,0.11,49,0.19,anomaly,True,False

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test= train_test_split(df.iloc[:,0:10],df.iloc[:,-1],test_size=0.70,random_state=2)

In [10]:
x_train.head()

,protocol_type,service,flag,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate
18663,udp,domain_u,SF,44,139,20,1.00,0.00,255,1.00
8223,tcp,http,SF,207,512,9,1.00,0.00,144,1.00
4059,tcp,http,SF,304,1172,5,1.00,0.00,255,1.00
12138,tcp,http_443,S0,0,0,43,0.26,0.14,11,0.04
6138,tcp,http,SF,285,293,2,1.00,0.00,255,1.00

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder(drop='first')

In [13]:
x_train_new = ohe.fit_transform(x_train[['protocol_type']]).toarray()

In [14]:
x_test_new = ohe.transform(x_test[['protocol_type']]).toarray()

In [15]:
np.hstack((x_train[['service','flag','src_bytes','dst_bytes','count','same_srv_rate','diff_srv_rate','dst_host_srv_count','dst_host_same_srv_rate']].values,x_train_new))

array([['domain_u', 'SF', 44, ..., 1.0, 0.0, 1.0],
       ['http', 'SF', 207, ..., 1.0, 1.0, 0.0],
       ['http', 'SF', 304, ..., 1.0, 1.0, 0.0],
       ...,
       ['http', 'SF', 295, ..., 1.0, 1.0, 0.0],
       ['telnet', 'S0', 0, ..., 0.25, 1.0, 0.0],
       ['private', 'SF', 28, ..., 0.21, 0.0, 1.0]], dtype=object)

In [16]:
counts_protocol = df['protocol_type'].value_counts()

In [17]:
df['protocol_type'].nunique()
threshold = 0

In [18]:
repl_protocol = counts_protocol[counts_protocol<=threshold].index

In [19]:
protocol_df = pd.get_dummies(df['protocol_type'])

In [20]:
protocol_df.replace({False: 0,True:1},inplace=True)

In [21]:
protocol_df[:20]

    icmp  tcp  udp
0      0    1    0
1      0    0    1
2      0    1    0
3      0    1    0
4      0    1    0
5      0    1    0
6      0    1    0
7      0    1    0
8      0    1    0
9      0    1    0
10     0    1    0
11     0    1    0
12     0    1    0
13     0    1    0
14     0    1    0
15     0    1    0
16     0    1    0
17     1    0    0
18     0    1    0
19     0    1    0

In [22]:
counts_service = df['service'].value_counts()

In [23]:
df['service'].nunique()
threshold = 500;

In [24]:
repl_service = counts_service[counts_service<=threshold].index

In [25]:
service_df = pd.get_dummies(df['service'].replace(repl_service,'uncommon_service'))

In [26]:
service_df.replace({False: 0,True:1},inplace=True)

In [27]:
service_df[:20]

,domain_u,eco_i,ecr_i,ftp_data,http,other,private,smtp,uncommon_service
0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,1,0,0
7,0,0,0,0,0,0,1,0,0
8,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,1,0,0
12,0,0,0,0,1,0,0,0,0
13,0,0,0,1,0,0,0,0,0
14,0,0,0,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,1
16,0,0,0,0,1,0,0,0,0
17,0,1,0,0,0,0,0,0,0
18,0,0,0,0,1,0,0,0,0
19,0,0,0,0,1,0,0,0,0

In [28]:
counts_flag = df['flag'].value_counts()

In [29]:
df['flag'].nunique()
threshold = 50

In [30]:
repl_flag = counts_flag[counts_flag<=threshold].index

In [31]:
flag_df = pd.get_dummies(df['flag'].replace(repl_flag,'uncommon_flag'))

In [32]:
flag_df.replace({False: 0,True:1},inplace=True)

In [33]:
flag_df[:20]

    REJ  RSTO  RSTR  S0  S1  SF  uncommon_flag
0     0     0     0   0   0   1              0
1     0     0     0   0   0   1              0
2     0     0     0   1   0   0              0
3     0     0     0   0   0   1              0
4     0     0     0   0   0   1              0
5     1     0     0   0   0   0              0
6     0     0     0   1   0   0              0
7     0     0     0   1   0   0              0
8     0     0     0   1   0   0              0
9     0     0     0   1   0   0              0
10    1     0     0   0   0   0              0
11    0     0     0   1   0   0              0
12    0     0     0   0   0   1              0
13    0     0     0   0   0   1              0
14    0     0     0   1   0   0              0
15    0     0     0   1   0   0              0
16    0     0     0   0   0   1              0
17    0     0     0   0   0   1              0
18    0     0     0   0   0   1              0
19    0     0     0   0   0   1              0

In [34]:
x_train_new[:20]

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.]])

In [35]:
#from sklearn.compose import ColumnTransformer

"""transformer = ColumnTransformer(transformers=[
    ('tnf1',OneHotEncoder(sparse_output=False,drop='first'),['protocol_type','service','flag'])
],remainder='passthrough')"""
#transformer.fit_transform(x_train).shape

#x_train[:20]

df[:20]

,protocol_type,service,flag,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,class
0,tcp,ftp_data,SF,491,0,2,1.00,0.00,25,0.17,normal
1,udp,other,SF,146,0,13,0.08,0.15,1,0.00,normal
2,tcp,private,S0,0,0,123,0.05,0.07,26,0.10,anomaly
3,tcp,http,SF,232,8153,5,1.00,0.00,255,1.00,normal
4,tcp,http,SF,199,420,30,1.00,0.00,255,1.00,normal
5,tcp,private,REJ,0,0,121,0.16,0.06,19,0.07,anomaly
6,tcp,private,S0,0,0,166,0.05,0.06,9,0.04,anomaly
7,tcp,private,S0,0,0,117,0.14,0.06,15,0.06,anomaly
8,tcp,remote_job,S0,0,0,270,0.09,0.05,23,0.09,anomaly
9,tcp,private,S0,0,0,133,0.06,0.06,13,0.05,anomaly
10,tcp,private,REJ,0,0,205,0.06,0.06,12,0.05,anomaly
11,tcp,private,S0,0,0,199,0.02,0.06,13,0.05,anomaly
12,tcp,http,SF,287,2251,3,1.00,0.00,219,1.00,normal
13,tcp,ftp_data,SF,334,0,2,1.00,0.00,20,1.00,anomaly
14,tcp,name,S0,0,0,233,0.00,0.06,1,0.00,anomaly
15,tcp,netbios_ns,S0,0,0,96,0.17,0.05,2,0.01,anomaly
16,tcp,http,SF,300,13788,8,1.00,0.00,255,1.00,normal
17,icmp,eco_i,SF,18,0,1,1.00,0.00,16,1.00,anomaly
18,tcp,http,SF,233,616,3,1.00,0.00,255,1.00,normal
19,tcp,http,SF,343,1178,9,1.00,0.00,255,1.00,normal

In [36]:
training_data = df.drop(['protocol_type','service','flag','class'],axis=1)

In [37]:
training_data.head()

,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate
0,491,0,2,1.00,0.00,25,0.17
1,146,0,13,0.08,0.15,1,0.00
2,0,0,123,0.05,0.07,26,0.10
3,232,8153,5,1.00,0.00,255,1.00
4,199,420,30,1.00,0.00,255,1.00

In [38]:
training_data1 = pd.concat([training_data,protocol_df],axis=1)

In [39]:
training_data1[:20]

,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,icmp,tcp,udp
0,491,0,2,1.00,0.00,25,0.17,0,1,0
1,146,0,13,0.08,0.15,1,0.00,0,0,1
2,0,0,123,0.05,0.07,26,0.10,0,1,0
3,232,8153,5,1.00,0.00,255,1.00,0,1,0
4,199,420,30,1.00,0.00,255,1.00,0,1,0
5,0,0,121,0.16,0.06,19,0.07,0,1,0
6,0,0,166,0.05,0.06,9,0.04,0,1,0
7,0,0,117,0.14,0.06,15,0.06,0,1,0
8,0,0,270,0.09,0.05,23,0.09,0,1,0
9,0,0,133,0.06,0.06,13,0.05,0,1,0
10,0,0,205,0.06,0.06,12,0.05,0,1,0
11,0,0,199,0.02,0.06,13,0.05,0,1,0
12,287,2251,3,1.00,0.00,219,1.00,0,1,0
13,334,0,2,1.00,0.00,20,1.00,0,1,0
14,0,0,233,0.00,0.06,1,0.00,0,1,0
15,0,0,96,0.17,0.05,2,0.01,0,1,0
16,300,13788,8,1.00,0.00,255,1.00,0,1,0
17,18,0,1,1.00,0.00,16,1.00,1,0,0
18,233,616,3,1.00,0.00,255,1.00,0,1,0
19,343,1178,9,1.00,0.00,255,1.00,0,1,0

In [40]:
training_data2 = pd.concat([training_data1,service_df],axis=1)
training_data3 = pd.concat([training_data2,flag_df],axis=1)

In [41]:
training_data2[:20]

,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,icmp,tcp,udp,domain_u,eco_i,ecr_i,ftp_data,http,other,private,smtp,uncommon_service
0,491,0,2,1.00,0.00,25,0.17,0,1,0,0,0,0,1,0,0,0,0,0
1,146,0,13,0.08,0.15,1,0.00,0,0,1,0,0,0,0,0,1,0,0,0
2,0,0,123,0.05,0.07,26,0.10,0,1,0,0,0,0,0,0,0,1,0,0
3,232,8153,5,1.00,0.00,255,1.00,0,1,0,0,0,0,0,1,0,0,0,0
4,199,420,30,1.00,0.00,255,1.00,0,1,0,0,0,0,0,1,0,0,0,0
5,0,0,121,0.16,0.06,19,0.07,0,1,0,0,0,0,0,0,0,1,0,0
6,0,0,166,0.05,0.06,9,0.04,0,1,0,0,0,0,0,0,0,1,0,0
7,0,0,117,0.14,0.06,15,0.06,0,1,0,0,0,0,0,0,0,1,0,0
8,0,0,270,0.09,0.05,23,0.09,0,1,0,0,0,0,0,0,0,0,0,1
9,0,0,133,0.06,0.06,13,0.05,0,1,0,0,0,0,0,0,0,1,0,0
10,0,0,205,0.06,0.06,12,0.05,0,1,0,0,0,0,0,0,0,1,0,0
11,0,0,199,0.02,0.06,13,0.05,0,1,0,0,0,0,0,0,0,1,0,0
12,287,2251,3,1.00,0.00,219,1.00,0,1,0,0,0,0,0,1,0,0,0,0
13,334,0,2,1.00,0.00,20,1.00,0,1,0,0,0,0,1,0,0,0,0,0
14,0,0,233,0.00,0.06,1,0.00,0,1,0,0,0,0,0,0,0,0,0,1
15,0,0,96,0.17,0.05,2,0.01,0,1,0,0,0,0,0,0,0,0,0,1
16,300,13788,8,1.00,0.00,255,1.00,0,1,0,0,0,0,0,1,0,0,0,0
17,18,0,1,1.00,0.00,16,1.00,1,0,0,0,1,0,0,0,0,0,0,0
18,233,616,3,1.00,0.00,255,1.00,0,1,0,0,0,0,0,1,0,0,0,0
19,343,1178,9,1.00,0.00,255,1.00,0,1,0,0,0,0,0,1,0,0,0,0

In [42]:
training_data3 = pd.concat([training_data2,flag_df],axis=1)

In [43]:
training_data3[:100]

,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,icmp,tcp,udp,...,private,smtp,uncommon_service,REJ,RSTO,RSTR,S0,S1,SF,uncommon_flag
0,491,0,2,1.00,0.00,25,0.17,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,146,0,13,0.08,0.15,1,0.00,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,0,0,123,0.05,0.07,26,0.10,0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,232,8153,5,1.00,0.00,255,1.00,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,199,420,30,1.00,0.00,255,1.00,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3065,331,1,1.00,0.00,119,0.48,0,1,0,...,0,1,0,0,0,0,0,0,1,0
96,102,102,1,1.00,0.00,1,0.14,0,0,1,...,0,0,0,0,0,0,0,0,1,0
97,259,750,4,1.00,0.00,255,1.00,0,1,0,...,0,0,0,0,0,0,0,0,1,0
98,147,105,2,1.00,0.00,2,0.01,0,0,1,...,0,0,0,0,0,0,0,0,1,0
99,0,0,129,0.12,0.05,12,0.05,0,1,0,...,1,0,0,0,0,0,1,0,0,0

In [44]:
training_data3.columns

Index(['src_bytes', 'dst_bytes', 'count', 'same_srv_rate', 'diff_srv_rate',
       'dst_host_srv_count', 'dst_host_same_srv_rate', 'icmp', 'tcp', 'udp',
       'domain_u', 'eco_i', 'ecr_i', 'ftp_data', 'http', 'other', 'private',
       'smtp', 'uncommon_service', 'REJ', 'RSTO', 'RSTR', 'S0', 'S1', 'SF',
       'uncommon_flag'],
      dtype='object')

In [45]:
counts_class = df['class'].value_counts()

In [46]:

df['class'].nunique()
threshold = 0

In [47]:
repl_class = counts_class[counts_class<=threshold].index

In [48]:
class_df = pd.get_dummies(df['class'])

In [49]:
class_df.replace({False: 0,True:1},inplace=True)

In [50]:
class_df[:100]

    anomaly  normal
0         0       1
1         0       1
2         1       0
3         0       1
4         0       1
..      ...     ...
95        0       1
96        0       1
97        0       1
98        0       1
99        1       0

[100 rows x 2 columns]

In [51]:
# Random Forest Implementation


from sklearn.ensemble import RandomForestClassifier

In [52]:
model = RandomForestClassifier()

In [53]:
training_data3[:90]

,src_bytes,dst_bytes,count,same_srv_rate,diff_srv_rate,dst_host_srv_count,dst_host_same_srv_rate,icmp,tcp,udp,...,private,smtp,uncommon_service,REJ,RSTO,RSTR,S0,S1,SF,uncommon_flag
0,491,0,2,1.00,0.00,25,0.17,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,146,0,13,0.08,0.15,1,0.00,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,0,0,123,0.05,0.07,26,0.10,0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,232,8153,5,1.00,0.00,255,1.00,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,199,420,30,1.00,0.00,255,1.00,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0,0,212,0.03,0.05,7,0.10,0,1,0,...,1,0,0,0,0,0,1,0,0,0
86,225,3762,10,1.00,0.00,255,1.00,0,1,0,...,0,0,0,0,0,0,0,0,1,0
87,0,0,250,0.05,0.06,1,0.00,0,1,0,...,0,0,1,0,0,0,1,0,0,0
88,0,0,132,0.11,0.05,15,0.06,0,1,0,...,1,0,0,1,0,0,0,0,0,0
89,146,105,3,0.67,0.67,2,0.02,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [54]:

class_df[:90]

    anomaly  normal
0         0       1
1         0       1
2         1       0
3         0       1
4         0       1
..      ...     ...
85        1       0
86        0       1
87        1       0
88        1       0
89        0       1

[90 rows x 2 columns]

In [55]:
training_data3.shape

(25192, 26)

In [56]:
model.fit(training_data3,class_df)

RandomForestClassifier()

In [57]:
print(training_data3.columns)

Index(['src_bytes', 'dst_bytes', 'count', 'same_srv_rate', 'diff_srv_rate',
       'dst_host_srv_count', 'dst_host_same_srv_rate', 'icmp', 'tcp', 'udp',
       'domain_u', 'eco_i', 'ecr_i', 'ftp_data', 'http', 'other', 'private',
       'smtp', 'uncommon_service', 'REJ', 'RSTO', 'RSTR', 'S0', 'S1', 'SF',
       'uncommon_flag'],
      dtype='object')

In [58]:
model.predict([[44,44,3,0.33,0.67,98,0.97,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0]])

C:\Users\buset\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([[0, 1]], dtype=int64)

In [59]:
import pickle

In [60]:
with open('trained_RandomForest.pkl','wb')as file:
    pickle.dump(model,file)